.button {
    width: 150px;
    transform: translateY(-20px);
    color: #fff;
    padding: 12px 15px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    /* position: relative; */
    transition: .3s;
    /* z-index: 1; */
    background: #f09a62;
    cursor: pointer;
    border-radius: 6px;
    
    font-weight: bold;
  }
.button:hover {
    box-shadow: 0 0.6em 0.5em -0.4em #824402;
    transform: translateY(-30px);
    background: #e56503;
  }
